@import "styles/variables";

.main {
  background-color: $grey;
  color: $copyLightGrey;
  min-height: 100vh;
  max-width: 1440px;
  padding-top: 80px;
}

.container {
  background-color: $grey;
  padding: 0 2rem;
  padding: 64px 44px;
}